<div class="container">
  <div class="row justify-content-center">
    <div>
      <p class="login-word">HELLO,{{name}}!!</p>
    </div>
    <div class="back-box">
      <a class="home-icon" href="/">
        <i type="button" class="icon fas fa-home"></i>
      </a>
      <a class="sign-out-icon" href="/index">
        <i type="button" class="icon fas fa-sign-out-alt"></i>
      </a>
    </div>
  </div>
</div>