<div class="container success-box">
  <div class="row justify-content-center">

    <p class="welcome">{{result}}</p>
    <a class="back-index" href="/">
      <i type="button" class="fas fa-check-circle fa-2x ml-3 mt-2" style="color:rgb(62, 93, 140)"></i>
    </a>
  </div>

</div>